SampleC/projects/msvcpp1/*.bsc
SampleC/projects/msvcpp1/*.cod
SampleC/projects/msvcpp1/*.dll
SampleC/projects/msvcpp1/*.exe
SampleC/projects/msvcpp1/*.map
SampleC/projects/msvcpp1/*.obj
SampleC/projects/msvcpp1/*.pdb
SampleC/projects/msvcpp1/*.sbr
SampleC/projects/msvcpp1/*.vcw
SampleC/projects/msvcpp1/*.wsp

SampleC/projects/msvcpp12/x64
SampleC/projects/msvcpp12/x86

SampleC/projects/msvcpp2/DebugI
SampleC/projects/msvcpp2/DebugIB
SampleC/projects/msvcpp2/DebugO
SampleC/projects/msvcpp2/ReleaseI
SampleC/projects/msvcpp2/ReleaseO
SampleC/projects/msvcpp2/SampleC.vcp
SampleC/projects/msvcpp2/listing.cod

SampleC/projects/msvcpp16/.vs
SampleC/projects/msvcpp16/build
SampleC/projects/msvcpp16/SampleC.vcxproj.user
